*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/META-INF/

.git
.idea
out
bin
.settings
*.iml
.classpath
.project
*~
.DS_Store
## File-based project format:
*.ipr
*.iws


# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
